.wrapper
{
    background:rgb(196, 194, 194);
}

h1
{
    text-align: center;
    
}

ul
{
    text-align: center;
}


li
{
    display: inline-block;
}

.game
{
    width: 350px;
    background: black;
}

.block
{
    display: inline-block;
    background: crimson;
    width: 100px;
    height: 100px;
    border: 1px solid white;
}
